<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <head th:replace="~{layout/layout :: heat}"> </head>

        <body>
            <header th:replace="~{layout/layout :: header}"> </header>
            <aside th:replace="~{layout/layout :: aside}"> </aside>
            <div class="container">
                <div class="card-title">
                    <h3>Mantenimiento Usuario </h3>
                </div>

                <a th:href="@{/usuarioSistema/listar}" class="btn btn-primario">
                    <i class="fa-solid fa-arrow-left "></i>
                    Regresar</a>
                <div class="mensaje-alerta" id="contenedor-alertas"></div>
                <div th:if="${mensaje}" class="mensaje-alerta alert alert-success">
                    <span th:text="${mensaje}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <form id="frm-detalleUsuarioSistema" th:action="@{/detalleUsuarioSistema/guardar}" method="post" th:object="${detalleUsuarioSistema}">
                    <div class="row m-2">
                        <input class="form-control" hidden=""  id="codigoUsuarioSistema" name="codigoUsuarioSistema" th:value="${usuarioSistema.codigoUsuarioSistema}">  </input>
                        <div class="form-group col-sm-4">
                            <label class="form-label " for="usuario">Usuario</label>
                            <input class="form-control" readonly="" name="nombre" th:value="${usuarioSistema.nombre}">  </input>
                        </div>
                        <div class="col-sm-6">
                            <label for="roles">Rol</label>
                            <select class="form-control" name="rol" >
                                <option th:each="rol : ${roles}" 
                                        th:value="${rol.codigoRol}"
                                        th:text="${rol.nombre}" 
                                        />
                            </select>
                        </div>

                    </div>
                    <input type="submit" name="guardar" value="Asignar Rol" class="btn btn-guardar m-3" />
                    <a title="Resetear a Clave por defecto" type="button" id="passwordReset"  class="btn btn-primario m-3">Clave Reset</a>
                </form>

                <div class="table-responsive-lg">
                    <table id="tabla" class="table caption-top table-dark table-border table-striped table-colapse  ">
                        <caption>Roles Asignados </caption>
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Rol</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-secondary table-hover">
                            <tr th:each="detalleUsuarioSistema : ${detallesUsuarioSistema}">
                                <td th:text="${detalleUsuarioSistema.usuarioSistema.nombre}"> </td>
                                <td th:text="${detalleUsuarioSistema.rol.nombre}"> </td>

                                <td>
                                    <a id="eliminar" data-url="/detalleUsuarioSistema/eliminar/" th:data-id="${detalleUsuarioSistema.detalleUsuarioSistemaPK.codigoUsuarioSistema}+'/'
                                       +${detalleUsuarioSistema.detalleUsuarioSistemaPK.codigoRol}"
                                       class="btn btn-danger eliminar btn-sm" title="Eliminar">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="contenedor-confirmacion"></div>
            </div>
            <footer  th:replace="~{layout/layout :: footer}"> </footer>
            <script>
                $(document).ready(function () {
//            Lamara al metodo eliminar al hacer click en el boton eliminar
                        var mensaje;
                        eliminar(mensaje);
                   
                    $("#passwordReset").on('click', function () {
                        let  titulo = "Reseteo de clave";
                         mensaje = "Seguro que desea realizar la operacion? ";
                        confirmacioModal(titulo, mensaje);
                        $('#confirmacionModal').modal('show');
                        $('#confirmacionModal').on('click', '#confirmarBoton', function () {
                            $('#confirmacionModal').modal('hide');
                            let token = $("#token").val();
                            let url = '/usuarioSistema/passwordReset/';
                            let id = $("#codigoUsuarioSistema").val();
                            $.ajax({
                                headers: {
                                    'X-CSRF-TOKEN': token
                                },
                                url: url + id,
                                async: false,
                                method: 'post',
                                cache: false,
//                     dataType: "json", //tipo de datos que espera recibir
                                success: function (response) {
                                    mostrarAlerta(response, url, 'success', false, false);
                                    return false;
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    var mensajeError = jqXHR.responseText;
                                    if (jqXHR.responseJSON && jqXHR.responseJSON.hasOwnProperty("message")) {
                                        mensajeError = jqXHR.responseJSON.message;
                                    }
                                    if (jqXHR.status === 403) {
                                        mensajeError = "Acceso denegado, no tiene acceso a este recurso!!";
                                    }
                                    mostrarAlerta(mensajeError, url, 'danger');
                                }
                            });
                        });
                    });
                });
            </script>

        </body>

</html>