 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" />
<head  th:replace="~{layout/layout :: heat}"> </head>
<body>
    <header  th:replace="~{layout/layout :: header}"> </header>
    <aside th:replace="~{layout/layout :: aside}">  </aside>
    <div class="container h-50">
        <div class="card-body error alert-danger"> ERROR AL REALIZAR LA OPERACION
            <ul  th:each="error : ${errores}" >
                <li th:text="${error}">first</li>
            </ul>
        </div>
        <div th:if="${mensaje}" class="mensaje-alerta alert alert-success">
            <span th:text="${mensaje}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <footer  th:replace="~{layout/layout :: footer}"> </footer>
</body>
</html>
