<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head  th:replace="~{layout/layout :: heat}"> </head>

    <body>
         <header  th:replace="~{layout/layout :: header}"> </header>
        <aside  th:replace="~{layout/layout :: aside}"> </aside>
            <div class="container">
                <div class="form-control"> <h3>Ciudades</h3> </div>
                <a th:href="@{/ciudad/agregar}"  class="btn-primario">Crear Ciudad</a>
                <table  class="table ">
                    <thead class="thead-dark">
                        <tr>
                            <th>Codigo Ciudad</th>
                            <th>ciudad</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <tr th:each="ciudad : ${ciudades}">
                            <td th:text="${ciudad.codigoCiudad}">  Mostrar Codigo Ciudad</td>
                            <td th:text="${ciudad.nombreCiudad}"> Mostrar ciudad </td>
                            <td>  <a th:href="@{/ciudad/editar/} + ${ciudad.codigoCiudad}" th:text="Editar" class="btn btn-info "/></td>
                            <td> <a th:href="@{/ciudad/eliminar(codigoCiudad=${ciudad.codigoCiudad})}" th:text="Eliminar" class="btn btn-danger text-l "/></td>
                        </tr>
                    </tbody>
                </table>

            </div>


        </header>
        <footer>

        </footer>
    </body>

</html>
