<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head  th:replace="~{layout/layout :: heat}"> </head>
    <body>
        <header  th:replace="~{layout/layout :: header}"> </header>
        <aside th:replace="~{layout/layout :: aside}">  </aside>

        </head>
        <body>
            <header  th:replace="~{layout/layout :: header}"> </header>
            <div class="container card ">
                <div class="card"><h1>Sucursales</h1></div> 
                <div class="">
                    <a th:href="@{/sucursal/agregar}" class="btn btn-primary btn-sm mb-3">Crear Sucursal</a>
                    <div class="table-responsive-sm">
                        <table class="table table-border table-striped table-colapse table-hover table-lg " >
                            <thead class="table-dark">
                                <tr>
                                    <th>Codigo sucursal</th>
                                    <th>Sucursal</th>
                                    <th>Ciudad</th>
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody class="table-secondary">
                                <tr th:each="sucursal : ${sucursales}">
                                    <td th:text="${sucursal.codigoSucursal}">  </td>
                                    <td th:text="${sucursal.nombreSucursal}"> Mostrar Sucursal </td>
                                    <td th:text="${sucursal.ciudad.nombreCiudad}"> Mostrar Ciudad </td>
                                    <td><a th:href="@{/sucursal/editar/} + ${sucursal.codigoSucursal}" class="btn btn-info btn-sm"th:text="Editar"/></td>
                                    <td><a th:href="@{/sucursal/eliminar(codigoSucursal=${sucursal.codigoSucursal})}" class="btn btn-danger btn-sm "th:text="Eliminar"/></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <footer  th:replace="~{layout/layout :: footer}"> </footer>
        </body>

</html>
