<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <head th:replace="~{layout/layout :: heat}"> </head>

        <body>
            <header th:replace="~{layout/layout :: header}"> </header>
            <aside th:replace="~{layout/layout :: aside}"> </aside>
            <div class="container">
                <div class="card-title">
                    <h3>Asignar cobrador a la zona </h3>
                </div>

                <a th:href="@{/zona/listar}" class="btn btn-primario">
                    <i class="fa-solid fa-arrow-left "></i>
                    Regresar</a>
                <div class="mensaje-alerta" id="contenedor-alertas"></div>
                <div th:if="${mensaje}" class="mensaje-alerta alert alert-success">
                    <span th:text="${mensaje}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <form id="frm-detalleZona" th:action="@{/detalleZona/guardar}" method="post" th:object="${detalleZona}">
                    <div class="row m-2">
                        <div class="form-group col-sm-4">
                            <label class="form-label " for="zona">Zona</label>
                            <select class="form-control" name="zona">
                                <option th:each="zona : ${zona}" th:value="${zona.codigoZona}" th:text="${zona.nombreZona}" />
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="cobrador">Cobrador</label>
                            <select class="form-control" name="cobrador">
                                <option th:each="cobrador : ${cobradores}" th:value="${cobrador.codigoCobrador}"
                                        th:text="${cobrador.nombre}+' '+${cobrador.apellido}" />
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="sucursal">Sucursal:</label>
                            <select class="form-control" name="sucursal">
                                <option th:each="sucursal : ${sucursal}" th:value="${sucursal.codigoSucursal}"
                                        th:text="${sucursal.nombreSucursal}+' '+ ${sucursal.ciudad.nombreCiudad}" />
                            </select>
                        </div>
                    </div>
                    <input type="submit" name="guardar" value="Guardar" class="btn btn-guardar m-3" />
                </form>

                <div class="table-responsive-lg">
                    <table id="tablaCobradores" class="table caption-top table-dark table-border table-striped table-colapse  ">
                        <caption>Cobradores Asignados </caption>
                        <thead>
                            <tr>
                                <th>CodigoZona</th>
                                <th>Zona</th>
                                <th>Cobrador</th>
                                <th>Sucursal</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-secondary table-hover">
                            <tr th:each="detalleZona : ${detalleZona}">
                                <td th:text="${detalleZona.detalleZonaPK.codigoZona}"> </td>
                                <td th:text="${detalleZona.zona.nombreZona}"> </td>
                                <td th:text="${detalleZona.cobrador.nombre}+' '+${detalleZona.cobrador.apellido}"> </td>
                                <td
                                    th:text="${detalleZona.zona.sucursal.nombreSucursal} +' '+${detalleZona.zona.sucursal.ciudad.nombreCiudad}">
                                </td>
                                <td>
                                    <a id="manzana" title="Manzanas"
                                       th:data-id="${detalleZona.detalleZonaPK.codigoZona}+'-'+${detalleZona.detalleZonaPK.codigoCobrador}"
                                       data-bs-toggle="modal" data-bs-target="#manzanaModal">
                                        <i class="btn btn-primario fa-regular fa-eye"></i>
                                    </a>
                                    <a id="editar"
                                       th:data-id="${detalleZona.detalleZonaPK.codigoZona}+'-'+${detalleZona.detalleZonaPK.codigoCobrador}"
                                       class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#modificarModal">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>
                                    <a id="eliminar" data-url="/detalleZona/eliminar/" th:data-id="${detalleZona.detalleZonaPK.codigoCobrador}+'/'
                                       +${detalleZona.detalleZonaPK.codigoZona}+'/' 
                                       +${detalleZona.detalleZonaPK.codigoSucursal}"
                                       class="btn btn-danger eliminar btn-sm" title="Eliminar">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Ventana modal cambiar cobrador -->
            <div class="modal fade" id="modificarModal" tabindex="-1" aria-labelledby="confirmacionModalLabel "  data-bs-backdrop="static"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content bg-color">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmacionModalLabel">Cambiar cobrador</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="frm-detalleZonaModificar" th:action="@{/detalleZona/modificar}" method="post">
                            <div class="row m-3 p-3">
                                <input type="number" hidden="" id="codigoCobradorActual" name="codigoCobradorActual"
                                       th:value="${codigoCobradorActual}" />

                                <div class="col-md-4">
                                    <label for="zona">Zona</label>
                                    <select class="form-control" name="zona" id="zona">
                                        <option />
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label for="cobrador">Cobrador</label>
                                    <select class="form-control" name="cobrador" id="cobrador">
                                        <option th:each="cobrador : ${cobradores}" th:value="${cobrador.codigoCobrador}"
                                                th:text="${cobrador.nombre}+' '+${cobrador.apellido}" />
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label for="Sucursal">Sucursal:</label>
                                    <select class="form-control" name="sucursal" id="sucursal">
                                        <option />
                                    </select>
                                </div>

                            </div>
                            <input type="submit" name="guardar" value="Guardar" class="btn btn-guardar m-3" />
                        </form>

                    </div>
                </div>
            </div>

            <!-- Ventana modal agregar manzana-->
            <div class="modal fade" id="manzanaModal" tabindex="-1" aria-labelledby="confirmacionModalLabel" aria-hidden="true"  data-bs-backdrop="static">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content bg-color">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmacionModalLabel"> Manzanas</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="frm-agregarManzana" th:action="@{/manzana/guardar}" method="post">
                            <div class="row m-2">

                                <div class="form-group col-md-4">
                                    <label for="zona"> Zona</label>
                                    <select class="form-control" name="zona">
                                        <option th:each="zona : ${zona}" th:value="${zona.codigoZona}"
                                                th:text="${zona.nombreZona}" />
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="cobrador">Cobrador</label>
                                    <select class="form-control" name="cobrador" id="cobradorManzana">

                                    </select>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label for="sucursal">Sucursal:</label>
                                    <select class="form-control" name="sucursal">
                                        <option th:each="sucursal : ${sucursal}" th:value="${sucursal.codigoSucursal}"
                                                th:text="${sucursal.nombreSucursal}+' '+ ${sucursal.ciudad.nombreCiudad}" />
                                    </select>
                                </div>
                                <div class="form-group d-flex col-md-6 ">
                                    <input class="form-control  w-75 " type="text" name="numeroManzana" id="numeroManzana"
                                           placeholder="ingrese N° manzana">
                                        <button class="btn btn-primario">
                                            Agregar
                                        </button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive-sm m-2">
                            <table id="tablaManzana" class="table table-dark table-border table-striped table-colapse  ">
                                <thead>
                                    <tr>
                                        <th>N° Manzana</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyManzana" class="table-secondary table-hover">
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <footer th:replace="~{layout/layout :: footer}"> </footer>
            <script>
                $(document).ready(function () {
                    eliminar("Seguro que desea eliminar cobrador  de esta zona");
                    //  Cargar idioma español a la tabla paginado con Jquerry data
                    var tablaManzana = $('#tablaManzana').DataTable({
                        language: {
                            url: '/i18n/es-ES.json'
                        }
                    });

                    $('#frm-detalleZona').submit(function (event) {
                        event.preventDefault();

                        var url = "/detalleZona/guardar";

                        var datos = $('#frm-detalleZona').serialize();
                        var contentType = 'application/x-www-form-urlencoded';
                        guardar(datos, url, contentType);
                    });

                    //  Abrir ventans modal al precionar boton editar
                    $(document).on('click', '#editar', function (event) {
                        var url = '/detalleZona/editar';
                        let id = $(this).data('id').split('-');
                        var datos = {
                            codigoZona: id[0],
                            codigoCobrador: id[1]
                        };
                        consultar(datos, url)
                                .then(function (respuesta) {
                                    $("#codigoCobradorActual").val(respuesta.cobrador.codigoCobrador);
                                    $("#cobrador").val(respuesta.cobrador.codigoCobrador);
                                    $("#zona").append('<option value="' + respuesta.zona.codigoZona + '">' + respuesta.zona.nombreZona + '</option>');
                                    $("#zona").val(respuesta.zona.codigoZona);
                                    $("#sucursal").empty();
                                    $("#sucursal").append('<option value="' + respuesta.sucursal.codigoSucursal + '">' + respuesta.sucursal.nombreSucursal + ' ' + respuesta.sucursal.ciudad.nombreCiudad + '</option>');
                                    $("#sucursal").val(respuesta.sucursal.codigoSucursal);
                                });
                    });
                    $('#frm-detalleZonaModificar').submit(function (event) {
                        event.preventDefault();

                        var url = "/detalleZona/modificar";

                        var datos = $('#frm-detalleZonaModificar').serialize();
                        var contentType = 'application/x-www-form-urlencoded';
                        guardar(datos, url, contentType);
                        $("#modificarModal").modal('hide');
                    });

                    //Abrir ventana modal manzana al precionar boton manzana
                    $(document).on('click', '#manzana', function (event) {
                        var url = '/manzana/listar';
                        var id = $(this).data('id').split('-');
                        var datos = {
                            zona: {codigoZona: id[0]},
                            cobrador: {codigoCobrador: id[1]}
                        };
                        function getDetalleZon() {
                            url = '/detalleZona/encontrar';
                            consultar(datos, url)
                                    .then(function (respuesta) {
                                        $("#cobradorManzana").empty();
                                        $("#cobradorManzana").append(`<option value=${respuesta.cobrador.codigoCobrador}> ${respuesta.cobrador.nombre}  ${respuesta.cobrador.apellido}</option>`);
                                    });

                        }
                        consultar(datos, url)
                                .then(function (respuesta) {
                                    if (respuesta.length === 0) {
                                        getDetalleZon();

                                    } else {
                                        $("#cobradorManzana").empty();
                                        $("#cobradorManzana").append(`<option value=${respuesta[0].cobrador.codigoCobrador}> ${respuesta[0].cobrador.nombre}  ${respuesta[0].cobrador.apellido}</option>`);
                                    }
                                    tablaManzana.clear().draw();
                                    var manzana;
                                    $.each(respuesta, function (llave, valor) {
                                        manzana = `<tr>
                                                 <td>${valor.manzanaPK.numeroManzana}</td>
                                                  <td>
                                                  <a id="eliminar" data-url="/manzana/eliminar/"
                                                     data-id=${valor.manzanaPK.numeroManzana}/${valor.manzanaPK.codigoSucursal}
                                                     class="btn btn-danger eliminar btn-sm" 
                                                     title="Eliminar" 
                                                     data-bs-toggle="modal" 
                                                       data-bs-target="#confirmacionModal"> 
                                                    <i class="fa-solid fa-trash-can"></i> 
                                                    </a>
                                                  </td>
                                            </tr>`;
                                        tablaManzana.row.add($(manzana)).draw(false);
                                    });

                                });
                    });

                    $('#frm-agregarManzana').submit(function (event) {
                        event.preventDefault();

                        var url = "/manzana/guardar";

                        var datos = $('#frm-agregarManzana').serialize();
                        var contentType = 'application/x-www-form-urlencoded';
                        guardar(datos, url, contentType);
                        $("#manzanaModal").modal('hide');
                    });
                });
            </script>
        </body>

</html>