<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:fragment="heat">
        <title th:text="${titulo}"></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/estilo.css" />
        <!-- Agrega esta línea para cargar los estilos de los iconos -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />

        <!-- Agrega esta línea para cargar los recursos de los iconos -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
        <link rel="stylesheet" href="/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="/css/diseno-global.css" />
    </head>

    <body>

        <header th:fragment="header">
            <button id="menu-toggle">
                <div class="barra"></div>
                <div class="barra"></div>
                <div class="barra"></div>
            </button>


        </header>

        <aside id="menu_aside" th:fragment="aside" class="menu_aside">
            <ul>
                <li><a href="/"> <i class="fa-solid fa-house-chimney"></i> INICIO </a>
                </li>
                <hr />
                <ul><span class="menu-seccion"><i class="fa-solid fa-hand-holding-dollar"></i> COBRANZA</span>
                    <li><a th:href="@{/comprobante/facturaManual}"> <i class="fa-solid fa-file-circle-plus"></i> Factura
                            Manual </a></li>
                    <!--                <li id="factura-electronica"><a th:href="@{/comprobante/facturaElectronica}">
                                            <i class="fa-solid fa-file-lines"></i> Factura Electronica</a></li>-->
                    <li id="facturas" sec:authorize="hasAnyAuthority('ROOT','ADMINISTRADOR','SUPERVISOR','SECRETARIO')"><a
                            th:href="@{/comprobantes-v2}"> <i class="fa-solid fa-receipt"></i>
                            Comprobantes</a></li>
                </ul>

                <hr />
                <ul><span class="menu-seccion"><i class="fa-solid fa-database"></i> DATOS BÁSICOS</span>
                    <li sec:authorize="hasAnyAuthority('ROOT','ADMINISTRADOR','SUPERVISOR')"><a th:href="@{/usuarioSistema/listar}"><i
                                class="fa-solid fa-user-shield"></i> Usuario Sistema</a></li>
                    <li sec:authorize="hasAnyAuthority('ROOT','ADMINISTRADOR', 'SUPERVISOR')"> <a th:href="@{/parametro/listar}"><i
                                class="fa-solid fa-sliders"></i> Parámetros</a></li>
                    <li sec:authorize="hasAnyAuthority('ROOT','ADMINISTRADOR', 'SUPERVISOR')"> <a th:href="@{/timbrado/listar}"><i
                                class="fa-solid fa-stamp"></i> Timbrados</a></li>
                    <li sec:authorize="hasAnyAuthority('ROOT','ADMINISTRADOR')"><a th:href="@{/puntoExpedicion/listar}"><i
                                class="fa-solid fa-cash-register"></i> Puntos de expedición</a></li>
                    <li sec:authorize="hasAnyAuthority('ROOT','ADMINISTRADOR')"><a th:href="@{/tipoComprobante/listar}"><i
                                class="fa-solid fa-file-circle-check"></i> Tipos de comprobante</a></li>
                    <li sec:authorize="hasAnyAuthority('ROOT','ADMINISTRADOR')"><a th:href="@{/sucursal/listar}"><i
                                class="fa-solid fa-building"></i> Sucursales</a></li>
                    <li sec:authorize="hasAnyAuthority('ROOT')"><a th:href="@{/ciudad/listar}"><i
                                class="fa-solid fa-city"></i> Ciudades</a></li>
                </ul>
                <hr />
                <li> <a th:href="@{/servicio/listar-v2}"><i class="fa-solid fa-address-card"></i> CUENTAS</a></li>
                <hr />
                <li><a th:href="@{/usuario/listar}"> <i class="fa-solid fa-user-group"></i> USUARIOS</a></li>
                <hr />
                <li> <a th:href="@{/cobrador/listar}" sec:authorize="hasAnyAuthority('ROOT','ADMINISTRADOR','SECRETARIO','SUPERVISOR')"> <i
                            class="fa-solid fa-money-bill-transfer"></i> COBRADORES</a></li>
                <hr />
                <li><a th:href="@{/categoria/listar}" sec:authorize="hasAnyAuthority('ROOT','ADMINISTRADOR','SUPERVISOR','SECRETARIO')"> <i
                            class="fa-solid fa-tags"></i> CATEGORÍAS</a></li>
                <hr />
                <li> <a th:href="@{/zona/listar}" sec:authorize="hasAnyAuthority('ROOT','ADMINISTRADOR','SUPERVISOR','SECRETARIO')"><i
                   class="fa-solid fa-map"></i> ZONAS</a></li>
                <hr />
                <li>
                    <a sec:authorize="hasAnyAuthority('ROOT','ADMINISTRADOR','SUPERVISOR','SECRETARIO')" th:href="@{/reporte}">
                        <i class="fa-solid fa-chart-column"></i> REPORTES
                    </a>
                </li>
                <hr />
            </ul>
            <button id="btn-user" class="user-session">
                <i class="fa-solid fa-circle-user"></i>

            </button>
            <div id="user-session">
                <p sec:authentication="name"></p>
                <a th:href="@{/usuarioSistema/editarClave/}+''+${session.usuarioSistema.codigoUsuarioSistema}">Editar
                    Clave</a>
                <form id="logoutForm" th:action="@{/logout}" method="post">
                    <button class="dropdown-item" onclick="document.getElementById('logoutForm').submit();"
                            type="submit">Cerrar Sesion</button>
                </form>

            </div>

        </aside>
        <footer th:fragment="footer">
            <!--incluir jquery-->
            <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
            <!--incluir jquery ui-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>

            <!--incluir jquery dataTable-->
            <script src="/js/jquery.dataTables.min.js"></script>
            <!--incluir bootstrap-->
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>

            <script>
                        $(document).ready(function () {

                            $('#menu-toggle').click(function () {
                                $(this).toggleClass('active');
                                $('#menu_aside').toggleClass('active');
                            });

                            $('#btn-user').click(function () {
                                $('#user-session').slideToggle(300);
                            });

                            $('.menu_aside ul ul').click(function () {
                                $(this).find('li').slideToggle(300);
                            });

                        });

            </script>
            <input type="hidden" id="token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <p class="footer">&copy; ALCMA Inc <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span>
                | Roles: <span id="roles"sec:authorize="isAuthenticated()" sec:authentication="principal.authorities"></span>
            </p>

        </footer>


    </body>

</html>
