<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/layout :: heat}"> </head>

    <body>
        <header th:replace="~{layout/layout :: header}"> </header>
        <aside th:replace="~{layout/layout :: aside}"> </aside>
        <div class="container-fluid">
            <div class="card-header">
                <h3 class="form-title">Comprobantes</h3>
            </div>

            <div class=" comprobante-filter">
                <div class="mensaje-alerta" id="contenedor-alertas"></div>
                <div class="form-floating buscar">
                    <select th:object="${sucursal}" class="form-control" name="sucursal" id="sucursal">
                        <option th:each="sucursal : ${sucursal}" th:value="${sucursal.codigoSucursal}"
                                th:text="${sucursal.nombreSucursal} +' '+${sucursal.ciudad.nombreCiudad} " />
                    </select>
                    <label class="form-label" for="sucursal">Sucursal</label>
                </div>
                <div class="form-floating  serie">
                    <select th:object="${serie}" class="form-control" name="serie" id="serie">
                        <option th:each="serie : ${series}" th:value="${serie.codigoSerie}" th:text="${serie.serie} "
                                th:selected="${serie.codigoSerie == 0} " />
                    </select>
                    <label class="form-label" for="serie">Serie</label>
                </div>
                <div class="form-floating">
                    <select th:object="${puntoExpedicion}" class="form-control" name="puntoExpedicion" id="puntoExpedicion">
                        <option th:each="puntoExpedicion : ${puntosExpedicion}"
                                th:value="${puntoExpedicion.puntoExpedicionPK.codigoPuntoExpedicion}"
                                th:text="${puntoExpedicion.nombrePuntoExpedicion} "
                                th:selected="${puntoExpedicion.puntoExpedicionPK.codigoPuntoExpedicion == 0} " />
                    </select>
                    <label class="form-label" for="puntoExpedicion">PuntoExpedicion</label>
                </div>
                <div class="form-floating buscar">
                    <input name="txtBuscar" id="txtBuscar" type="search" class="form-control " autofocus="true"
                           placeholder="Ingrese numero de comprobante" aria-label="Buscar" aria-describedby="search-addon" />
                    <label>Numero de Comprobante</label>
                </div>
            </div>


            <div class="table-responsive-xl sticky-top m-2">
                <table id="tabla" class="table  table-border table-striped  table-hover small h-25">
                    <thead class="sticky-top bg-color ">
                        <tr>
                            <th>Tipo</th>
                            <th>PuntoExp.</th>
                            <th class="sticky-start">N°.Comprobante</th>
                            <th >Cuentacorriente</th>
                            <th>Usuario</th>
                            <th>FechaPago</th>
                            <th>Tarifa</th>
                            <th>Cant.Pago</th>
                            <th>Recargo</th>
                            <th>Importe</th>
                            <th>saldo</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="table-secondary ">
                        <tr th:each="comprobante : ${comprobantes}">
                            <td th:text="${comprobante.tipoComprobante.nombreTipoComprobante}"
                                th:data-id="${comprobante.comprobantePK.codigoTipoComprobante}">
                            </td>
                            <td th:text="${comprobante.puntoExpedicion.nombrePuntoExpedicion}"
                                th:data-id="${comprobante.comprobantePK.puntoExpedicionPK.codigoPuntoExpedicion}">
                            </td>
                            <td  class="sticky-start" th:text="${#numbers.formatInteger(comprobante.comprobantePK.numeroComprobante,7)}" th:data-id="${comprobante.comprobantePK.numeroComprobante}"> </td>
                            <td hidden="" th:data-id="${comprobante.comprobantePK.codigoSerie}" > </td>
                            <td th:text="${comprobante.servicio.cuentaCorriente}"> </td>
                            <td th:text="${comprobante.razonSocial}"> </td>
                            <td th:text="${comprobante.fechaPago}"></td>
                            <td th:text="${#numbers.formatDecimal(comprobante.tarifa, 0, 'COMMA', 0, 'POINT')}">
                                <td class="text-center" th:text="${comprobante.cantidadPago}"></td>
                                <td class="text-center"
                                    th:text="${#numbers.formatDecimal(comprobante.recargo, 0, 'COMMA', 0, 'POINT')}">
                                </td>
                                <td th:text="${#numbers.formatDecimal(comprobante.totalImporte, 0, 'COMMA', 0, 'POINT')}"></td>
                                <td th:text="${#numbers.formatDecimal(comprobante.saldo, 0, 'COMMA', 0, 'POINT')}"></td>
                                <td th:text="${comprobante.estado.estado}"></td>
                                <td>
                                    <a title="Editar comprobante" id="editar"  
                                       <i class="fa-regular fa-pen-to-square btn-primario p-1"></i>
                                    </a>
                                    <a title="Anular" id="anular" 
                                       <i class="btn-close fa-regular fa-pen-to-square"></i>
                                    </a>
                                </td>
                        </tr>
                    </tbody>
                </table>
                <nav th:replace="~{layout/paginador :: paginador}"> </nav>                        


            </div>
        </div>

        <!-- Ventana modal  comprobante -->
        <div class="modal fade" id="comprobanteModal" tabindex="-1" aria-labelledby="titulo" aria-hidden="true"
             data-bs-backdrop="static">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content bg-color">
                    <div class="modal-header">
                        <h3 class="form-title" id="titulo">Datos Comprobante</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="row d-flex m-1">
                        <div class="col-sm-3">
                            <label for="cuentaCorriente">Cuentacorriente </label>
                            <input class="form-control" readonly="true" type="search" name="cuentaCorriente"
                                   id="cuentaCorriente" />
                        </div>

                        <input type="text" class="d-none" name="codigoUsuario" id="codigoUsuario">
                            <div class="col-sm-3">
                                <label for="numeroDocumento">RUC/CI </label>
                                <input class="form-control" type="text" id="numeroDocumento" name="numeroDocumento"
                                       readonly="true" />
                            </div>
                            <div class="col-md-6">
                                <label for="buscarUsuario">Razon Social </label>
                                <input class="form-control" type="text" id="razonSocial" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="categoria">Categoria</label>
                                <select class="form-control" id="categoria">
                                    <option>Categoria</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label for="sucursalModal">Sucursal</label>
                                <select class="form-control"  id="sucursalModal">
                                    <option>Sucursal</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="puntoExpedicionaModal">PuntoExpedicion</label>
                                <select class="form-control" id="puntoExpedicionModal">
                                    <option />Punto Expedicion
                                </select>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="serieModal">Serie</label>
                                <select class="form-control" name="serieModal" id="serieModal">
                                    <option />Serie
                                </select>
                                </select>
                            </div>
                    </div>
                    <div class="row d-flex m-1">
                        <div class="col-md-3">
                            <label for="numeroComprobante">N°Comprobante </label>
                            <input class="form-control" readonly="true" type="text" autofocus="true"
                                   name="numeroComprobante" id="numeroComprobante" />
                        </div>

                        <div class="col-md-3">
                            <label for="tipoComprobante">TipoComprobante</label>
                            <select class="form-control" name="tipoFactura" id="tipoComprobante">
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="condicionVenta">CondicionVenta</label>
                            <select class="form-control" name="condicionVenta" id="condicionVenta">
                                <option>Condicion Venta</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="estado">Estado</label>
                            <select class="form-control" id="estado" >
                                <option th:each="estado : ${estados}"
                                        th:value="${estado.codigoEstado}"
                                        th:text="${estado.estado}">
                                </option>
                            </select>

                        </div>
                        <div class="col-md-6">
                            <label for="cobrador">Cobrador</label>
                            <select  class="form-control" id="cobrador" name="cobrador">
                                <option th:each ="cobrador: ${cobradores}"
                                        th:value=${cobrador.codigoCobrador}
                                        th:text="${cobrador.nombre}+' '+ ${cobrador.apellido}"/>
                            </select>

                        </div>
                        <div class="col-md-3" >
                            <label for="fechaPago">Fecha Pago </label>
                            <input  class="form-control"   name="fechaPago" id="fechaPago" />
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col-lg-6 "> <h5>Detalle Pago</h5>
                            <input type="hidden" name="tarifa" id="tarifa" />
                            <div class="row">
                                <div class="col-4">
                                    <label for="periodoPago">Period Pago:</label>
                                </div>
                                <div class="col">
                                    <input type="text" readonly="true" name="periodoPago" id="periodoPago"
                                           class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label for="cantidadPago">Cant.Pago:</label>
                                </div>
                                <div class="col">
                                    <input type="text" readonly="true" name="cantidadPago" id="cantidadPago"
                                           class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label for="subTotal">SubTotal:</label>
                                </div>
                                <div class="col">
                                    <input type="text" readonly="true" name="subTotal" id="subTotal"
                                           class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label for="saldo">Saldo</label>
                                </div>
                                <div class="col">
                                    <input type="text" readonly="true" name="saldo" id="saldo"
                                           class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label for="recargoPago">Recargo:</label>
                                </div>
                                <div class="col">
                                    <input type="text" readonly="true" name="recargoPago" id="recargoPago"
                                           class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label for="totalImporte">Total Importe</label>
                                </div>
                                <div class="col">
                                    <input type="text" readonly="true" name="totalImporte" id="totalImporte"
                                           class="form-control" />
                                </div>
                            </div>
                            <div  class=" "> <h5>Metodo Pago</h5>
                                <div id="detalle-pago"> </div>

                            </div>
                        </div>
                        <div class=" form-floating col-lg-6 d-none" id="motivoAnulacionContainer">
                            <textarea class="form-control" placeholder="Ingrese motivo de anulacion"
                                      id="motivoAnulacion"></textarea>
                            <label for="obs">Motivo de anulacion </label>
                        </div>
                    </div>

                    <button  id="guardar"  class="btn-primario me-4 mb-3 offset-9" >Guardar</button>

                </div>
            </div>
        </div>


        <footer th:replace="~{layout/layout :: footer}"> </footer>
        <script type="module" >
            import { buscarComprobantes, cargarDatosComprobanteModal, modificarComprobante} from '/js/comprobante.js';
            import {datePickerInit, modificar, mostrarAlerta} from '/js/modulos.js';

            datePickerInit('#fechaPago');
            $("#txtBuscar").focus();

            $(document).on('change', '#serie, #puntoExpedicion', function () {
                buscarComprobantes();
            });


            let time;
            $("#txtBuscar").keyup(function (e) {
                let numeroComprobante = '';
                numeroComprobante = $("#txtBuscar").val();
//                    $("#txtBuscar").val(numeroComprobante.replace(/[^0-9]/g, '').padStart(7, 0));
                    clearTimeout(time);
                    time = setTimeout(() => {
                        buscarComprobantes();
                    }, 400);
                

            });
            var url;
            $('#tabla').on('click', 'tr td #anular', function () {
                $('#motivoAnulacionContainer').removeClass('d-none');
                $('#fechaPago').prop('disabled', true);
                url = '/comprobante/anular';
                let codigoTipoComprobante = $(this).closest('tr').find('td:eq(0)').data('id');
                let codigoPuntoExpedicion = $(this).closest('tr').find('td:eq(1)').data('id');
                let numeroComprobante = $(this).closest('tr').find('td:eq(2)').data('id');
                let codigoSerie = $(this).closest('tr').find('td:eq(3)').data('id');
                let codigoSucursal = $('#sucursal').val();
                var datos = {
                    puntoExpedicionPK: {
                        codigoSucursal: codigoSucursal,
                        codigoPuntoExpedicion: codigoPuntoExpedicion
                    },
                    codigoTipoComprobante: codigoTipoComprobante,
                    codigoSerie: codigoSerie,
                    numeroComprobante: numeroComprobante
                };
                cargarDatosComprobanteModal(datos);

            });

            $('#tabla').on('click', 'tr td #editar', function () {
                url = '/comprobante/guardar';
                $('#motivoAnulacionContainer').addClass('d-none');
                $('#fechaPago').prop('disabled', false);
                let codigoTipoComprobante = $(this).closest('tr').find('td:eq(0)').data('id');
                let codigoPuntoExpedicion = $(this).closest('tr').find('td:eq(1)').data('id');
                let numeroComprobante = $(this).closest('tr').find('td:eq(2)').data('id');
                let codigoSerie = $(this).closest('tr').find('td:eq(3)').data('id');
                let codigoSucursal = $('#sucursal').val();
                $('#fechaPago').prop('readonly', false);

                let datos = {
                    puntoExpedicionPK: {
                        codigoSucursal: codigoSucursal,
                        codigoPuntoExpedicion: codigoPuntoExpedicion
                    },
                    codigoTipoComprobante: codigoTipoComprobante,
                    codigoSerie: codigoSerie,
                    numeroComprobante: numeroComprobante
                };
                cargarDatosComprobanteModal(datos, 'editar');


            });

            $('#guardar').on('click', function () {
                modificarComprobante(url);
            });



        </script>
    </body>

</html>