<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
    <head  th:replace="~{layout/layout :: heat}"> </head>
    <body>
        <header  th:replace="~{layout/layout :: header}"> </header>
        <aside th:replace="~{layout/layout :: aside}">  </aside>
        <div class="container p-1"> 
            <div class="card-header"><h3>Datos Factura</h3></div>
            <a th:href="@{/servicio/listar}" class="btn btn-primario">Regresar</a>
            <div class="mensaje-alerta" id="contenedor-alertas"></div>
            <form name="frm-comprobante" id="frm-comprobante" th:action="@{/comprobante/guardar}" method="post" th:object="${comprobante}">
                <div class="row d-flex m-1">
                    <div class="col-sm-3"> 
                        <label class="form-label" for="cuentaCorriente">Cuentacorriente </label>
                        <input class="form-control" type="search"  name="cuentaCorriente" id="cuentaCorriente"  th:value="${servicio.cuentaCorriente}"  />
                    </div>

                    <input type="text" class="d-none" name="codigoUsuario" id="codigoUsuario" th:value="${usuario.codigoUsuario}">
                        <div class="col-sm-3">
                            <label class="form-label" for="numeroDocumento">RUC/CI </label>
                            <input class="form-control"  type="text" id="numeroDocumento" name="numeroDocumento" readonly="true" th:value="${usuario.numeroDocumento}"  required="campo ogligatorio"/>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="razonSocial">Razon Social </label>
                            <input class="form-control"  type="text"  id="razonSocial" th:value="${usuario.nombre}"  required="campo ogligatorio"/>
                        </div>
                        <div class="form-group col-sm-6"> 
                            <label for="categoria">Categoria</label>
                            <select th:object="${categoria}" class="form-control" id="categoria" >
                                <option th:each="categoria : ${categoria}" 
                                        th:value="${categoria.codigoCategoria}"
                                        th:text="${categoria.nombreCategoria}+' '+${categoria.tarifa} ">
                            </select>
                        </div>

                        <div class="col-sm-4"> 
                            <label class="form-label" for="sucursal">Sucursal</label>
                            <select th:object="${sucursal}" class="form-control" name="sucursal"  id="sucursal">
                                <option th:each="sucursal : ${sucursal}" 
                                        th:value="${sucursal.codigoSucursal}"
                                        th:text="${sucursal.nombreSucursal} +' '+${sucursal.ciudad.nombreCiudad} "  />
                            </select>
                        </div>
                        <div class="col-sm-2"> 
                            <label class="form-label" for="puntoExpedicion">PuntoExpedicion</label>
                            <select  th:object="${puntoExpedicion}" class="form-control" name="puntoExpedicion"  id="puntoExpedicion">
                                <option th:each="puntoExpedicion : ${puntoExpedicion}" 
                                        th:value="${puntoExpedicion.codigoPuntoExpedicion}"
                                        th:text="${puntoExpedicion.nombrePuntoExpedicion}"  />
                            </select>
                        </div>
                </div>
                <div class="row d-flex m-1">
                    <div class="col-sm-3"> 
                        <label class="form-label" for="numeroComprobante">N°Factura </label>
                        <input class="form-control" type="text"  autofocus="true"  name="numeroComprobante" id="numeroComprobante"  th:value="${numeroComprobante}" />
                        <span class="alert-danger" role="alert" th:if="${#fields.hasErrors('comprobantePK')}" th:errors="${comprobantePK.numeroComprobante}"> error</span>
                    </div>

                    <div class="col-sm-3">
                        <label class="form-label" for="tipoFactura">TipoFactura</label>
                        <select  th:object="${tipoFactura}" class="form-control" name="tipoFactura" id="tipoFactura"  >
                            <option th:each="tipoFactura : ${tiposFactura} " 
                                    th:value="${tipoFactura.codigoTipoFactura}"
                                    th:text="${tipoFactura.tipoFactura}"  
                                    th:selected="${tipoFactura.tipoFactura}== 'ELECTRONICA'"/>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label"for="condicionVenta">CondicionVenta</label>
                        <select th:object="${condicionVenta}" class="form-control" name="condicionVenta" id="condicionVenta" >
                            <option th:each="condicionVenta : ${condicionVenta} " 
                                    th:value="${condicionVenta.codigoCondicionVenta}"
                                    th:text="${condicionVenta.condicionVenta}"  />
                        </select>
                    </div>
                    <div class="col-sm-6" >
                        <label class="form-label" for="cobrador">Cobrador</label>
                        <select th:object="${cobrador}" class="form-control" id="cobrador" name="cobrador">
                            <option th:each="cobrador : ${cobrador} " 
                                    th:value="${cobrador.codigoCobrador}"
                                    th:text="${cobrador.nombreCompleto}"  />
                        </select>

                    </div>
                </div>
                <div class="estadoCuenta mt-3">
                    <h5>Detalle Pago</h5>
                    <input type="hidden" name="tarifa" id="tarifa" th:value="${categoria.tarifa}"  />
                    <div class="row">
                        <div class="col-4">
                            <label  for="pagoHasta">Pago Hasta:</label>
                        </div>
                        <div class="col">
                            <input  type="text" readonly="true" name="pagoHasta" id="pagoHasta" th:value="${#temporals.format(estadoCuenta.pagoHasta,'dd-MM-yyyy')}"  class="form-control"  />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label  for="cantidadDeuda">Cant.Deuda:</label>
                        </div>
                        <div class="col">
                            <input  type="text" readonly name="cantidadDeuda" id="cantidadDeuda" th:value="${estadoCuenta.cantidadDeuda}"   class="form-control"  />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label  for="cantidadPago">Cant.Pago:</label>
                        </div>
                        <div class="col">
                            <input  type="text" name="cantidadPago" id="cantidadPago" th:field="${estadoCuenta.cantidadPago}"   class="form-control"  />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="subTotal">SubTotal:</label>
                        </div>
                        <div class="col">
                            <input  type="text" readonly="true" name="subTotal" id="subTotal"  th:value="${#numbers.formatDecimal(estadoCuenta.subTotal, 0, 'COMMA', 0, 'POINT')}"  class="form-control"  />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label  for="recargoPago">Recargo:</label>
                        </div>
                        <div class="col">
                            <input  type="text"  name="recargoPago" id="recargoPago" th:value="${estadoCuenta.recargo}"   class="form-control"  />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label  for="totalDeuda">Total:</label>
                        </div>
                        <div class="col">
                            <input  type="text" readonly="true" name="totalDeuda" id="totalDeuda" th:value="${#numbers.formatDecimal(estadoCuenta.totalDeuda, 0, 'COMMA', 0, 'POINT')}"class="form-control"  />
                        </div>
                    </div>

                </div>

                <input type="submit" id="guardar" name="guardar" value="Guardar" class="btn-guardar m-3"/>

            </form>
        </div>

        <footer  th:replace="~{layout/layout :: footer}"> </footer>
        <script src="/js/comprobante.js"></script>
        <script>
            $(document).ready(function () {
                generarNumeroComprobante();
                $(document).on('change', '#tipoFactura, #puntoExpedicion', function () {
                    generarNumeroComprobante();
                });
                $("#cuentaCorriente").on('keypress', function (e) {
                    if (e.keyCode === 13) {
                        e.preventDefault();
                        var cuentaCorriente = $("#cuentaCorriente").val();
                        var url = '/comprobante/facturar';
                        var datos = {cuentaCorriente: cuentaCorriente};
                        cargarDatosComprobante(datos, url);
                    }
                });
                 $("#numeroComprobante").keyup(function (e){
               var textoRecuperado= parseInt($("#numeroComprobante").val());
               $("#numeroComprobante").val(textoRecuperado.toString().padStart(7,0));
            });
            });
        </script>
    </body>


</html>
