<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <head th:replace="~{layout/layout :: heat}"> </head>

        <body>
            <header th:replace="~{layout/layout :: header}"> </header>
            <aside th:replace="~{layout/layout :: aside}"> </aside>
            <div class="container">
                <div class="card-title">
                    <h3>Agregar manzana</h3>
                </div>

                <a th:href="@{/zona/listar}" class="btn btn-primario">
                    <i class="fa-solid fa-arrow-left "></i>
                    Regresar</a>
                <div class="mensaje-alerta" id="contenedor-alertas"></div>
                <div th:if="${mensaje}" class="mensaje-alerta alert alert-success">
                    <span th:text="${mensaje}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <form id="frm-manzana" th:action="@{/manzana/guardar}" method="post" th:object="${manzana}">
                    <div class="row m-2">
                        <div class="form-group col-sm-4">
                            <label class="form-label " for="zona">Zona</label>
                            <select th:field="*{zona}" class="form-control" name="zona">
                                <option th:each="zona : ${zona}" 
                                        th:value="${zona.codigoZona}"
                                        th:text="${zona.nombreZona}" />
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="cobrador">Cobrador</label>
                            <select class="form-control" name="cobrador">
                                <option th:each="cobrador : ${cobrador}" 
                                        th:value="${cobrador.codigoCobrador}"
                                        th:text="${cobrador.nombre}+' '+${cobrador.apellido}" />
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="sucursal">Sucursal:</label>
                            <select th:field="*{sucursal}" class="form-control" name="sucursal">
                                <option th:each="sucursal : ${sucursal}" th:value="${sucursal.codigoSucursal}"
                                        th:text="${sucursal.nombreSucursal}+' '+ ${sucursal.ciudad.nombreCiudad}" />
                            </select>
                        </div>
                        <div class="col-md-3">
                                <label for="numeroManzana"> N° Manzana </label>
                            <input class="form-control " type="text" name="numeroManzana" id="numeroManzana"
                                   autofocus="" placeholder="Ingrese n° Manzana">
                        </div>
                    </div>
                </form>
                <input type="submit" name="guardar" value="Guardar" class="btn btn-guardar m-3" />

                <div class="table-responsive-lg">
                    <table id="tablaCobradores" class="table caption-top table-dark table-border table-striped table-colapse  ">
                        <caption>Manzanas de la zona </caption>
                        <thead>
                            <tr>
                                <th>Sucursal</th>
                                <th>Zona</th>
                                <th>manzana</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-secondary table-hover">
                            <tr th:each="manzana : ${manzanas}">
                                <td th:text="${manzana.sucursal.nombreSucursal}+' '+${manzana.sucursal.ciudad.nombreCiudad}"> </td>
                                <td th:text="${manzana.zona.nombreZona}"> </td>
                                <td
                                    th:text="${manzana.manzanaPK.numeroManzana}">
                                </td>
                                <td>

                                    <a id="editar"
                                       th:data-id="${manzana.manzanaPK.numeroManzana}+'-'+${manzana.zona.codigoZona}"
                                       class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#modificarModal">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>
                                    <a id="eliminar" data-url="/manzana/eliminar/" 
                                       th:data-id="${manzana.manzanaPK.numeroManzana}+'/'
                                       +${manzana.manzanaPK.codigoSucursal}"
                                       class="btn btn-danger eliminar btn-sm" title="Eliminar">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Ventana modal cambiar Zona -->
            <div class="modal fade" id="modificarModal" tabindex="-1" aria-labelledby="confirmacionModalLabel "  data-bs-backdrop="static"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content bg-color">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmacionModalLabel">Cambiar Zona </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="frm-manzanaEditar" th:action="@{/manzana/modificar}" method="post">
                            <div class="row m-3 p-3">

                                <div class="col-md-4">
                                    <input type="text" hidden="" name="zonaVieja" id="zonaVieja">
                                    <label for="zona">Zona</label>
                                    <select class="form-control" name="zona" id="zonas">
                                        <option th:each="zona : ${zonas}" 
                                                th:value="${zona.codigoZona}"
                                                th:text="${zona.nombreZona}" />
                                    </select>
                                </div>
                               

                                <div class="col-md-4">
                                    <label for="Sucursal">Sucursal:</label>
                                    <select class="form-control" name="sucursal" id="sucursal">
                                        <option th:each="sucursal : ${sucursal}" 
                                                th:value="${sucursal.codigoSucursal}"
                                                th:text="${sucursal.nombreSucursal}+' '+ ${sucursal.ciudad.nombreCiudad}" />
                                    </select>
                                </div>
                                <div class=" col-md-3">
                                        <label for="numeroManzana"> N° Manzana </label>
                                    <input class="form-control " readonly=""  type="text" name="numeroManzana" id="manzana"
                                           placeholder="ingrese N° manzana">
                                </div>

                            </div>
                            <input type="submit" name="guardar" value="Guardar" class="btn btn-guardar m-3" />
                        </form>

                    </div>
                </div>
            </div>


            <footer th:replace="~{layout/layout :: footer}"> </footer>
            <script>
                $(document).ready(function () {
                    eliminar("Seguro que desea eliminar cobrador  de esta manzana");
                    //  Cargar idioma español a la tabla paginado con Jquerry data
                    var tablaManzana = $('#tablaManzana').DataTable({
                        language: {
                            url: '/i18n/es-ES.json'
                        }
                    });

                    $('#frm-manzana').submit(function (event) {
                        event.preventDefault();

                        var url = "/manzana/guardar";

                        var datos = $('#frm-manzana').serialize();
                        var contentType = 'application/x-www-form-urlencoded';
                        guardar(datos, url, contentType);
                    });

                    //  Abrir ventans modal al precionar boton editar
                    $(document).on('click', '#editar', function (event) {
                        let id = $(this).data('id').split('-');
                        let numeroManzana = id[0];
                        let codigoZona = id[1];
                        $("#manzana").val(numeroManzana);
                        $("#zonas").val(codigoZona);
                        $("#zonaVieja").val(codigoZona);
                    });

                });
            </script>
        </body>

</html>