<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="~{layout/layout :: heat}"> </head>

    <body>
        <header th:replace="~{layout/layout :: header}"> </header>
        <aside th:replace="~{layout/layout :: aside}"> </aside>
        <div class="container-fluid">

            <h3 class="form-title">Cuentas</h3>
            <div class="d-md-flex py-2">
                <div class="col-sm-2">
                    <a class="btn btn-primario btn-sm mb-2 " name="btnAgrerar" id="btnAgrerar" data-toggle="modal"
                       data-target="#servicioModal">
                        <i class="fa-solid fa-plus fa-lg"></i> Agregar
                    </a>
                </div>
                <div class="input-group my-1">
                    <input name="txtBuscar" id="txtBuscarServicio" type="search" class="col p-2" autofocus="true"
                           placeholder="Buscar por cta. corriente/ nombre/ ruc" aria-label="Buscar"
                           aria-describedby="search-addon" />
                </div>
            </div>
            <div class="mensaje-alerta" id="contenedor-alertas"> </div>
            <div class="table-responsive-xl">
                <table id="tabla-servicio" class="table table-border table-striped table-colapse table-hover">

                    <thead class="bg-color">
                        <tr>
                            <th class="sticky-start ">Cuentacorriente</th>
                            <th>Usuario</th>
                            <th>Fecha Inicio</th>
                            <th>Cagtegoria</th>
                            <th>Estado</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tbody" class="table-secondary  ">
                        <tr th:each="servicio : ${servicios}">
                            <td class="sticky-start" th:text="${servicio.cuentaCorriente}"> </td>
                            <td th:text="${servicio.usuario.nombre} +' '+${servicio.usuario.apellido ?: ''}"> </td>
                            <td th:text="${servicio.fechaInicio}"></td>
                            <td th:text="${servicio.categoria.tarifa}+'-'+${servicio.categoria.nombreCategoria}"></td>
                            <td th:text="${servicio.estado.estado}"></td>
                            <td class="text-center"><a th:href="@{/servicio/estadoCuenta(cuentaCorriente=${servicio.cuentaCorriente})}"
                                                       class="btn btn-primario btn-sm" th:text="EstadoCuenta" />  
                                <a sec:authorize="hasAnyAuthority('ADMIN','ROOT')" id="editar"
                                   th:data-id="${servicio.cuentaCorriente}" class="btn btn-info btn-sm"
                                   data-bs-toggle="modal" data-bs-target="#servicioModal">
                                    <i class="fa-regular fa-pen-to-square fa-lg"></i>
                                </a>
                                <a id="eliminar" data-url="/servicio/eliminar" th:data-id="${servicio.cuentaCorriente}"
                                   class="btn btn-danger eliminar btn-sm">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav th:replace="~{layout/paginador :: paginador}"> </nav>
            </div>
        </div>

        <!-- Ventana modal -->
        <div class="modal fade" id="servicioModal" tabindex="-1" aria-labelledby="confirmacionModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content bg-color">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmacionModalLabel">Datos de Servicio</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form name="frm-servicio" id="frm-servicio" action="/servicio/guardar" method="post">
                        <div class="container-md row d-md-flex align-content-center justify-content-start">
                            <input type="text" hidden="true" name="accion" id="accion">
                                <div class="form-label col-md-3">
                                    <label class="form-label" for="cuentaCorriente">Cuentacorriente </label>
                                    <input type="text" id="cuentaCorriente"
                                           onkeyup="formatearCuentaCorriente(event)" 
                                           name="cuentaCorriente" class="form-control " />
                                </div>

                                <input type="text" hidden="true" id="codigoUsuario" name="codigoUsuario" />
                                <div class="form-group col-md-3">
                                    <label class="form-label" for="numeroDocumento">NumeroDocumento </label>
                                    <input type="text" id="numeroDocumento" name="numeroDocumento" readonly=""
                                           class="form-control" required="campo ogligatorio" />
                                </div>
                                <div class=" form-group col-md-6">
                                    <div>
                                        <label class="form-label" for="buscarUsuario">Usuario </label>
                                        <input class="form-control" type="text" name="buscarUsuario" id="buscarUsuario"
                                               placeholder="Busca por: ruc/ci o nombres" required="true" />
                                    </div>
                                </div>

                                <div class="form-group col-md-3">
                                    <label class="form-label" for="fechaInicio">Fecha Inicio </label>
                                    <input type="text" name="fechaInicio" id="fechaInicio" th:value="${fechaInicio}"
                                           autocomplete="off" class="form-control" required="campo ogligatorio" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="categoria">Categoria</label>
                                    <select th:object="${categoria}" class="form-control" id="categoria" name="categoria">
                                        <option th:each="categoria : ${categorias}" th:value="${categoria.codigoCategoria}"
                                                th:text="${categoria.nombreCategoria}+' '+${categoria.tarifa} " />
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="direccion">Direccion</label>
                                    <input type="text" name="direccion" id="direccion"  class="form-control" />
                                </div>

                                <div class="form-group col-md-4">
                                    <label class="form-label" for="sucursal">Sucursal</label>
                                    <select th:object="${sucursal}" class="form-control" name="sucursal" id="sucursal">
                                        <option th:each="sucursal : ${sucursales}" th:value="${sucursal.codigoSucursal}"
                                                th:text="${sucursal.nombreSucursal} +'-' +${sucursal.ciudad.nombreCiudad }" />
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="form-label" for="estado">Estado</label>
                                    <select th:object="${estado}" class="form-control" name="estado" id="estado">
                                        <option th:each="estado : ${estado} " th:value="${estado.codigoEstado}"
                                                th:text="${estado.estado}" />
                                    </select>
                                </div>
                        </div>
                        <input type="submit" name="guardar" value="Guardar" class="btn-primario  m-3" />
                    </form>
                </div>
            </div>
        </div>


        <footer th:replace="~{layout/layout :: footer}"> </footer>

        <script src="/js/buscarUsuario.js"></script>
        <script src="/js/validarFormulario.js" async="true"></script>
        <script type="module">
            
           import {}
           from  '/js/buscarServicios.js';
           import {consultar, guardar, eliminarRegistro, limpiar, mostrarAlerta, tabulador, tabular, datePickerInit}
           from  '/js/modulos.js';

          eliminarRegistro('Seguro que desea eliminar el cuenta de usuario');
          tabulador('#cuentaCorriente', '#buscarUsuario');
          tabulador('#buscarUsuario', '#fechaInicio');

          datePickerInit('#fechaInicio');

          $('#tabla').DataTable({
              language: {
                  url: '/i18n/es-ES.json'
              }
          });
          var accion = "";
          var campos = ["#cuentaCorriente", "#fechaInicio", "#buscarUsuario", "#numeroDocumento"];

          $("#servicioModal").on('shown.bs.modal', function () {
              tabular("#cuentaCorriente");
          });

          $("#btnAgrerar").click(function (event) {
              event.preventDefault();
              limpiar(campos);
              $("#accion").val("agregar");
              $("#servicioModal").modal('show');
          });

          $(document).on('click', '#editar', function (event) {
              $("#cuentaCorriente").prop("readonly", true);
              let roles = $("#roles").text();
              if (!(roles.includes('ROOT') || roles.includes('ADMINISTRADOR'))) {
                  $("#fechaInicio").prop("disabled", true);
              }

              var url = '/servicio/editar';
              var servicio = {cuentaCorriente: $(this).data('id')};

              consultar(servicio, url)
                      .then(function (respuesta) {
                          $("#cuentaCorriente").val(respuesta.cuentaCorriente);
                          $("#fechaInicio").val(respuesta.fechaInicio);
                          $("#numeroDocumento").val(respuesta.usuario.numeroDocumento);
                          $("#codigoUsuario").val(respuesta.usuario.codigoUsuario);
                          $("#buscarUsuario").val(respuesta.usuario.nombre + ' ' + respuesta.usuario.apellido);
                          $("#categoria").val(respuesta.categoria.codigoCategoria);
                          $("#estado").val(respuesta.estado.codigoEstado);
                          $("#direccion").val(respuesta.direccion);
                          $("#accion").val("editar");
                      });
          });
          $('#frm-servicio').submit(function (event) {
              event.preventDefault();
              var servicio = {
                  cuentaCorriente: $("#cuentaCorriente").val(),
                  direccion: $("#direccion").val(),
                  fechaInicio: $("#fechaInicio").val(),
                  usuario: {
                      codigoUsuario: $("#codigoUsuario").val()
                  },
                  categoria: {
                      codigoCategoria: $("#categoria").val()
                  },
                  sucursal: {
                      codigoSucursal: $("#sucursal").val()
                  },
                  estado: {
                      codigoEstado: $("#estado").val()
                  }
              };
              accion = $("#accion").val();
              var contentType = 'application/json';
              var url = "/servicio/guardar/" + accion;
              guardar(servicio, url, contentType).then((data) => {
                  limpiar(campos);
                  $("#servicioModal").modal('hide');
                  mostrarAlerta({
                      mensaje: data,
                      url: url,
                      tipo: 'success',
                      recargar: true
                  });
              });
              ;

                                               });
        </script>
    </body>

</html>