<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: heat}"> </head>

<body>
    <header th:replace="~{layout/layout :: header}"> </header>
    <aside th:replace="~{layout/layout :: aside}"> </aside>
    <div th:replace="~{layout/layout :: modal}"> </div>
    <div class="container">
        <h3 class="card-header"> Categorias</h3>
        <a id="btnAgrerar" class="btn btn-primario btn-sm mb-3 " data-bs-toggle="modal"
            data-bs-target="#modificarModal">
            <i class="fa-solid fa-plus fa-lg"> </i> Agregar
        </a>
        <div class="mensaje-alerta" id="contenedor-alertas"></div>
        <div class="table-responsive-sm">
            <table id="tabla" class="table table-dark table-border table-striped table-colapse table-hover table-sm ">
                <thead class="thead-dark">
                    <tr>
                        <th>Codigo Categoria</th>
                        <th>Categoria</th>
                        <th>Tarifa</th>
                        <th>Sucursal</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-secondary">
                    <tr th:each="categoria : ${categorias}">
                        <td th:text="${categoria.codigoCategoria}">
                        </td>
                        <td th:text="${categoria.nombreCategoria}"> Mostrar Categoria
                        </td>
                        <td th:text="${#numbers.formatDecimal(categoria.tarifa, 0, 'COMMA', 0, 'POINT')}"> Mostrar
                            Tarifa
                        </td>
                        <td
                            th:text="${categoria.sucursal.nombreSucursal} +' '+ ${categoria.sucursal.ciudad.nombreCiudad}">
                            Mostrar Sucursal
                        </td>
                        <td>
                            <a id="editar" data-url="/categoria/editar/" th:data-id="${categoria.codigoCategoria}"
                                class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#modificarModal">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                            <a id="eliminar" data-url="/categoria/eliminar/" th:data-id="${categoria.codigoCategoria}"
                                class="btn btn-danger eliminar btn-sm">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- Ventana modal -->
    <div class="modal fade" id="modificarModal" tabindex="-1" aria-labelledby="confirmacionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-color">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmacionModalLabel">Datos de Categoría</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="frm-categoria" method="post">
                    <div class="modal-body">
                        <input type="hidden" id="codigoCategoria" name="codigoCategoria" />
                        <div class="form-group col-sm">
                            <label class="col-form-label" for="nombreCategoria"> Nombre de Categoría</label>
                            <input class="form-control" type="text" id="nombreCategoria" name="nombreCategoria"
                                placeholder="Ingrese nombre de la categoría" />
                        </div>
                        <div class="form-group col-sm">
                            <label class="col-form-label" for="tarifs">Tarifa</label>
                            <input class="form-control" type="number" name="tarifa" id="tarifa"
                                placeholder="Ingrese el monto de la tarifa" />
                        </div>
                        <div> </div>
                        <div class="form-group col-sm">
                            <label class="col-form-label" for="sucursal">Sucursal</label>
                            <select class="form-control" name="sucursal" id="sucursal">
                                <option th:each="sucursal : ${sucursal}" th:value="${sucursal.codigoSucursal}"
                                    th:text="${sucursal.nombreSucursal}+' '+${sucursal.ciudad.nombreCiudad}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <input type="submit" name="guardar" value="Guardar" class="btn btn-guardar" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="~{layout/layout :: footer}"> </footer>

    <script>
        $(document).ready(function () {
            // Lamara al metodo eliminar al hacer click en el boton eliminar
            eliminar();
            //  Cargar idioma español a la tabla paginado con Jquerry data
            $('#tabla').DataTable({
                language: {
                    url: '/i18n/es-ES.json'
                }
            });

            //Poner el focus al campo nombre categoria al abrir modal
            $('#modificarModal').on('shown.bs.modal', function () {
                $('#nombreCategoria').focus();
            });
            // definir nombres de campos para la funcion limpiar
            var nombreCategoria = "#nombreCategoria";
            var tarifa = "#tarifa";
            var campos = [nombreCategoria, tarifa];
            tabulador(nombreCategoria, tarifa); //tabular campos

            //Abrir ventans modal al precionar boton editar
            $(document).on('click', '#editar', function (event) {
                var url = '/categoria/editar';
                var datos = { codigoCategoria: $(this).data('id') };
                consultar(datos, url)
                    .then(function (respuesta) {
                        $("#codigoCategoria").val(respuesta.codigoCategoria);
                        $("#nombreCategoria").val(respuesta.nombreCategoria);
                        $("#tarifa").val(respuesta.tarifa);
                        $("#sucursal").val(respuesta.sucursal.codigoSucursal);
                    });
            });

            // Abrir ventana categoria al presionar agregar categoria
            $("#btnAgrerar").click(function (event) {
                event.preventDefault();
                limpiar(campos);
                $("#modificarModal").modal('show');
            });

            //Recuperar los datos al enviar formulario
            $('#frm-categoria').submit(function (event) {
                event.preventDefault();
                var campos = [
                    '#nombreCategoria',
                    '#tarifa',
                    '#sucursal'
                ];
                var url = "/categoria/guardar";
                var codigoCategoria = parseInt($("#codigoCategoria").val());
                var nombreCategoria = $("#nombreCategoria").val();
                var tarifa = parseFloat($("#tarifa").val());
                var codigoSucursal = parseInt($("#sucursal").val());

                var categoria = {
                    codigoCategoria: codigoCategoria,
                    nombreCategoria: nombreCategoria,
                    tarifa: tarifa,
                    sucursal: {
                        codigoSucursal: codigoSucursal
                    }
                };
                var contentType = 'application/json';
                guardar(categoria, url, contentType);
                limpiar(campos);
                $("#modificarModal").modal('hide');
            });
        });
    </script>
</body>

</html>